<!doctype html>
<html>

<head>
    <title>Button</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

    <style>
        /*
            Put your this page-specific styles here
            These styles will not affect your 'Demo Shop' styles
        */

        .component {
            padding: 50px;
            border-bottom: 1px solid #ccc;
        }

        .component-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .button {
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <!-- component -->
    <div class="component">
        <div class="component-title">Primary Button - Big</div>

        <div class="component-view">
            <button class="button">Submit</button>
            <button class="button" disabled>Submit</button>
        </div>
        <br>
        <div class="component-title">Secondary Button - Big</div>

        <div class="component-view">
            <button class="button secondary_default">Submit</button>
            <button class="button secondary_default" disabled>Submit</button>
        </div>
        <br>
        <div class="component-title">Primary Button - Regular</div>
        <div class="component-view">
            <button class="button_regular">Show more</button>
            <button class="button_regular" disabled>Shore More</button>
        </div>
    </div>

</body>

</html>