<!doctype html>
<html>

<head>
    <title>Checkbox buttons</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

    <style>
        /*
            Put your this page-specific styles here
            These styles will not affect your 'Demo Shop' styles
        */

        .component {
            padding: 50px;
            border-bottom: 1px solid #ccc;
        }

        .component-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .button {
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <!-- component -->
    <div class="component">
        <div class="component-title">Checkbox - Regular</div>

        <div class="component-view">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        
    </div>

</body>

</html>