<!doctype html>
<html>

<head>
    <title>Modals</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

    <style>
        /*
            Put your this page-specific styles here
            These styles will not affect your 'Demo Shop' styles
        */

        .button {
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <!-- component -->
    <div class="component-modal">
        <div class="component-modal-title">
            <div class="title-text">Modal title. - Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
        </div>

        <div class="component-modal-view">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, libero aliquid architecto ad quis maiores sit
            nulla officiis ex velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem cum minus
            ipsa consequuntur. Pariatur totam suscipit, voluptatibus laudantium.
            <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, libero aliquid architecto
            ad quis maiores sit nulla officiis ex velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem
            cum minus ipsa consequuntur. Pariatur totam suscipit, voluptatibus laudantium.
            <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, libero aliquid architecto
            ad quis maiores sit nulla officiis ex velit sapiente autem fugit quam, qui reprehenderit veniam fugiat nemo exercitationem
            cum minus ipsa consequuntur. Pariatur totam suscipit, voluptatibus laudantium.
        </div>
        <div class="modal-buttons">
            <button class="button secondary_default">Cancel</button>
            <button class="button">Submit</button>
        </div>

    </div>

</body>

</html>