<!--<!doctype html> -->
<html>

<head>
    <title>Radio buttons</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

    <style>
        /*
            Put your this page-specific styles here
            These styles will not affect your 'Demo Shop' styles
        */

        .component {
            padding: 50px;
            border-bottom: 1px solid #ccc;
        }

        .component-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <!-- component -->
    <div class="component">
        <div class="component-title">Radio - Regular</div>
        <div class="component-view">
            <input type="radio" name="gender" value="woman_unchecked">
            <label for="woman_unchecked">Woman (unchecked)</label></br>
            <input type="radio" name="gender" value="woman_checked" checked>
            <label for="woman_checked">Woman (checked)</label>
        </div>
        <br>

    </div>

</body>

</html>