<!doctype html>
<html>

<head>
    <title>Select</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">

    <style>
        /*
            Put your this page-specific styles here
            These styles will not affect your 'Demo Shop' styles
        */

        .component {
            padding: 50px;
            border-bottom: 1px solid #ccc;
        }

        .component-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <!-- component -->
    <div class="component">
        <div class="component-title">Select - Regular </div>

        <div class="component-view">
            <select class="white">
            <option value="active_wear">Active wear</option>
            <option value="not_active_wear">Not active wear</option>
            <option value="other">Other</option>
        </select>
        </div>
        <br>
        <div class="component-view">
            <select class="green">
            <option value="active_wear">Active wear</option>
            <option value="not_active_wear">Not active wear</option>
            <option value="other">Other</option>
        </select>
        </div>
    </div>

</body>

</html>